.overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 30;
}






    

main{
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* button{
    width: fit-content;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: var(--step--1);
    padding: var(--space-2xs) var(--space-xs);
} */




