.contact-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}


.contact-comment{
    color: var(--font-marked-color);
    font-weight: bold;
    font-size: var(--step-1);
}


.contact-title{
    margin-bottom: var(--space-s);
}

.contact-p{
    text-align: center;
    margin-bottom: var(--space-s);
}